@import './variables';

.wrapper-banner {
    padding: 110px 0;
    background-image: url('../images/motif.png');
    background-color: $blueBoxi;

    .wrapper-banner-content {
        margin: auto;
        float: inherit;
        
        &::before {
            content: '';
            position: absolute;
            top: -48px;
            width: 92px;
            height: 150px;
            left: -5px;
            background: url("../images/illu-boxi-fleurs.svg") no-repeat;
        }

        h2, p {
            color: #ffffff;
            line-height: 1;
            padding-left: 123px;
        }
    
        h2 {
            font-size: 48px;
            margin-bottom: 8px;
            font-family: 'Nunito-Bold';
        }
    
        .sous-titre {
            font-size: 28px;
            margin-bottom: 40px;
            font-family: 'Raleway-Light';
        }
    
        .text-select-before, .text-select-after {
            font-size: 25px;
            margin-bottom: 0;
            line-height: 1.2;
            padding: 0;
        } // text-select

        .text-select-before {
            font-family: 'Raleway-SemiBold';
        }

        .text-select-after {
            font-family: 'Raleway-LightItalic';
        }
    
        .ant-select {
            min-width: 280px;
            height: 36px;
            margin-right: 45px;
            margin-left: 8px;
            margin-bottom: -5px;
            outline: none;
            
            .ant-select-selection {
                background-color: transparent;
                height: 100%;
                color: #ffffff;
                border: none;
                border-bottom: 2px solid #ffffff;
                border-radius: 0;
                
                &:focus {
                    box-shadow: none;
                }
    
                .ant-select-arrow {
                    color: #ffffff;
                    zoom: 1.5;
                    right: 2px;
                } // ant-select-arrow
    
                .ant-select-selection__rendered {
                    margin-left: 0;

                    .ant-select-selection__placeholder {
                        color: #ffffff;
                    } // ant-select-selection__placeholder
                } // ant-select-selection__rendered
            } // ant-select-selection
        } // ant-select
    
        a {
            border: 2px solid #ffffff;
            color: #ffffff;
            background-color: transparent;
            height: 40px;
            font-size: 25px;
            font-family: 'Nunito-Bold';
            padding: 1px 10px;
            border-radius: 7px;
        }
    } // wrapper-banner-content
} // wrapper-banner