@import './variables';

.wrapper-cart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    // background-color: rgba($color: #000, $alpha: 0.6);
    z-index: 950;

    .wrapper-cart-content {
        position: fixed;
        top: 0;
        right: 0;
        width: 594px;
        height: 100%;
        padding: 60px 85px;
        z-index: 951;
        background-color: rgba(54, 55, 75, 0.9);

        .close {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 30px;
            left: 30px;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20px;
                height: 2px;
                background-color: #fff;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20px;
                height: 2px;
                background-color: #fff;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        } // close

        .wrapper-cart-header {
            margin-bottom: 50px;

            h2, p {
                color: #fff;    
            }

            h2 {
                font-family: 'Nunito-Bold';
                font-size: 36px;
                line-height: 1;
                margin-bottom: 15px;
            }

            p {
                font-family: 'Raleway-Italic';
                font-size: 22px;
                line-height: 1;
            }
        } // wrapper-cart-header

        .wrapper-cart-body {
            .wrapper-cart-product {
                display: flex;
                width: 100%;
                height: 100%;
                margin-bottom: 32px;

                .wrapper-number-product {
                    margin-right: 88px;
                    height: 100%;
                    align-self: center;

                    p {
                        font-family: 'Nunito-Bold';
                        font-size: 36px;
                        color: #ffffff;
                        margin-bottom: 0;
                    } // p
                } // wrapper-number-product

                .wrapper-product {
                    float: inherit;
                    height: 94px;
                    width: 70%;
                    margin-bottom: 0;

                    .wrapper-product-top {
                        padding: 11px 28px;
                        border-top-left-radius: 30px;
                        border-top-right-radius: 30px;

                        p {
                            font-size: 16px;
                            font-family: 'Raleway-SemiBold';
                        }
                    } // wrapper-product-top

                    .wrapper-product-bottom {
                        height: 46px;
                        border-bottom-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                    } // wrapper-product-bottom

                    .button-remove {
                        width: 40px;
                        height: 40px;
                        background-color: $pinkBoxi;
                        bottom: -15px;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 16px;
                            height: 3px;
                            background-color: #fff;
                            border-radius: 30px;
                        }
                    } // button-remove
                } // wrapper-product
            } // wrapper-cart-product
        } // wrapper-cart-body
    
        .wrapper-cart-footer {
            margin-top: 20px;

            p {
                color: #fff;
                font-size: 24px;
                font-family: 'Nunito-Bold';

                &.cart-total, &.cart-price {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    border-top: 1px solid #979797;
                    border-bottom: 1px solid #979797;
                    padding: 18px 0;
                } // cart-total / cart-price

                &.cart-price {
                    text-align: right;
                }
            }

            a {
                display: block;
                margin: auto;
                text-align: center;
                width: 183px;
                height: 55px;
                border-radius: 39px;
                border: 2px solid $blueBoxi;
                font-family: 'Nunito-Bold';
                font-size: 20px;
                background-color: $blueBoxi;
                color: #ffffff;
                padding: 12px 25px;
                margin-top: 0;
            }

            .btn-finalise-order {
                width: 265px;
                height: 55px;
                border-radius: 39px;
                border: 2px solid $blueBoxi;
                font-family: 'Nunito-Bold';
                font-size: 20px;
                background-color: $yellowBoxi;
                color: $colorText;
                border-color: $yellowBoxi;
            }

            button {
                margin: auto;
                display: block;

                &.btn-action {
                    width: 250px;
                    height: 55px;
                    border-radius: 39px;
                    border: 2px solid $blueBoxi;
                    font-family: 'Nunito-Bold';
                    font-size: 20px;
                } // btn-action
        
                &.btn-primary {
                    background-color: $yellowBoxi;
                    color: $colorText;
                    border-color: $yellowBoxi;
                    margin-top: 62px;
                }
            } // button
        }  // wrapper-cart-footer
    } // wrapper-cart-content
} // wrapper-cart

.wrapper-cart-confirmation-content {
    margin-top: 90px;

    h2 {
        font-family: 'Nunito-Bold';
        font-size: 48px;
        color: $colorText;
    }

    .wrapper-summary {
        padding-left: 104px;
        background: url('../images/check.png') no-repeat;
        margin-bottom: 100px;

        p {
            font-size: 20px;
            color: $colorText;
            font-family: 'Raleway-Regular';

            span {
                font-family: 'Raleway-Bold';
            }
        }
    } // wrapper-summary

    a {
        &.btn-action {
            width: 311px;
            height: 55px;
            border-radius: 39px;
            border: 2px solid $blueBoxi;
            font-family: 'Nunito-Bold';
            font-size: 20px;
        } // btn-action
    
        &.btn-secondary {
            background-color: transparent;
            color: $blueBoxi;
            padding: 12px 25px;
        }
    }
} // wrapper-cart-confirmation-content