@import './_variables.scss';

html,
body {
  height: 100%;
  font-family: $mainFont, 'Arial', sans-serif;
  margin: auto;
  background-color: #f8f8f8;
}

#root,
#root > div {
  height: 100%;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

input,
button {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, input[type="submit"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
} // container

@font-face {
  font-family: "Nunito-Bold";
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-LightItalic";
  src: url("../fonts/Raleway-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}