@import './variables';

header {
    background: #fff;

    .container {
        padding: 25px 66px 30px 66px;
    } // container
    
    .wrapper-logo {
        img {
            width: 134px;
            height: 64px;
        }
    } // wrapper-logo

    .wrapper-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul {
            margin-bottom: 0;
            li {
                display: inline-block;
                vertical-align: middle;

                &.wrapper-link-about {
                    font-size: 18px;
                    font-family: 'Raleway-SemiBold';
                    text-transform: uppercase;

                    a {
                        color: $colorText;
                    }
                } // wrapper-link-about

                &.wrapper-link-shoppping {
                    color: $blueBoxi;
                    font-size: 32px;
                    margin-left: 33px;
                    margin-right: 28px;
                    vertical-align: inherit;

                    button {
                        border: none;
                        padding: 0;

                        .ant-badge {
                            top: -8px;
                            left: -8px;
                        }
                    }
                } // wrapper-link-shoppping
            }
        }
    } // wrapper-links
} // header