@import './variables';

.wrapper-page-company {
    height: 100%;

    & + .overlay {
        .popin {
            .wrapper-popin-top {
                padding: 80px 50px 50px 50px;
                width: 520px;

                form {
                    .wrapper-input-text {
                        margin-bottom: 30px;
                    } // wrapper-input-text

                    button {
                        display: block;
                        margin: auto;
                        width: 198px;
                        height: 55px;
                        border-radius: 39px;
                        border: 2px solid $blueBoxi;
                        font-family: 'Nunito-Bold';
                        font-size: 20px;
                        background-color: $blueBoxi;
                        color: #ffffff;;
                        padding: 12px 22px;
                        margin-top: 30px;
                    }
                } // form
            } // wrapper-popin-top
        } // popin
    }

    .wrapper-part-left {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $blueBoxi;
        padding: 24px 63px;
        height: 100%;
        background-image: url('../images/motif.png');

        & > img {
            position: absolute;
            width: 134px;
            height: 63px;
            top: 24px;
            left: 63px;
        }

        .wrapper-header {
            h2, img {
                display: inline-block;
                vertical-align: bottom;
            }

            h2 {
                font-size: 48px;
                font-family: 'Nunito-Bold';
                color: #ffffff;
                margin-bottom: 0;
            }

            img {
                width: 190px;
                height: 250px;
                margin-bottom: 30px;
                margin-left: 60px;
            }

            p {
                font-family: 'Nunito-Regular';
                font-size: 38px;
                color: #ffffff;
                margin-bottom: 0;
                line-height: 1;
            }
        } // wrapper-header
    } // wrapper-part-left

    .wrapper-part-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background-color: #f8f8f8;

        .wrapper-top-company {
            position: absolute;
            width: 100%;
            top: 30px;
            right: 60px;
            text-align: right;
            
            p {
                margin-right: 28px;
                font-size: 18px;
                font-family: 'Raleway-SemiBold';
                color: $colorText;
                display: inline-block;
                margin-bottom: 30px;
            }

            button {
                width: 198px;
                height: 55px;
                border-radius: 39px;
                border: 2px solid $blueBoxi;
                font-family: 'Nunito-Bold';
                font-size: 20px;
                background-color: transparent;
                color: $blueBoxi;
                padding: 12px 22px;
            } // a

        } // wrapper-top-company

        .wrapper-center-susbscribe {
            display: flex;
            flex-direction: column;
            align-items: center;

            .wrapper-input-text {
                display: block;
                margin-bottom: 40px;

                &:last-of-type {
                    margin-bottom: 30px;
                }
            } // wrapper-input-text

            .text-conditions {
                font-family: 'Raleway-Regular';
                font-size: 13px;
                color: $colorText;
                margin-bottom: 30px;
                width: 415px;
            } // text-conditions

            button {
                width: 170px;
                height: 55px;
                border-radius: 39px;
                border: 2px solid $blueBoxi;
                font-family: 'Nunito-Bold';
                font-size: 20px;
                background-color: $blueBoxi;
                color: #ffffff;
                padding: 12px 38px;
                margin: auto;
                display: block;
            } // a
        } // wrapper-center-susbscribe

        .wrapper-center-add {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60%;

            h3 {
                position: relative;
                font-size: 24px;
                color: $colorText;
                font-family: 'Nunito-SemiBold';
                width: 415px;
                margin-bottom: 0;
            }

            p {
                position: relative;
                font-size: 20px;
                color: $colorText;
                font-family: 'Raleway-Regular';
                width: 415px;

                .btn-add {
                    position: relative;
                    width: 45px;
                    height: 45px;
                    background-color: $blueBoxi;
                    border-radius: 50px;
                    padding: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 3px;
                        height: 23px;
                        background-color: #ffffff;
                        border-radius: 30px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 23px;
                        height: 3px;
                        background-color: #ffffff;
                        border-radius: 30px;
                    }
                } // btn-add
            }

            form {
                & > div {
                    height: 300px;
                    overflow-y: auto;
                    position: relative;
                    &::-webkit-scrollbar {
                        width: 8px;
                        background-color: #F5F5F5;
                      } 
                      
                      &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                        border-radius: 30px;
                      }
                      
                      &::-webkit-scrollbar-thumb {
                        background-color: darkgrey;
                        outline: 1px solid slategrey;
                        border-radius: 30px;
                      }

                    & > p {
                        margin: auto;

                        button {
                            top: 0;
                        }
                    }
                }
            }

            .wrapper-input-fields {
                margin-top: 40px;
                margin-bottom: 27px;
                margin-right: 10px;

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    .btn-add {
                        display: inline-block;
                    } // btn-add
                }

                input, button {
                    display: inline-block;
                    vertical-align: middle;
                }

                button {
                    position: relative;
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    background-color: $pinkBoxi;
                    border-color: $pinkBoxi;
                    border-radius: 50px;
                    vertical-align: middle;
                    padding: 0;
                    bottom: auto;
                    top: auto;
                    left: auto;
                    transform: inherit;
                    margin-top: 0;
                    margin-left: 25px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 23px;
                        height: 3px;
                        background-color: #ffffff;
                        border-radius: 30px;
                    }
                } // button
            } // wrapper-input-fields
            

            button {
                position: absolute;
                bottom: -70px;
                left: 50%;
                transform: translateX(-50%);
                width: 170px;
                height: 55px;
                border-radius: 39px;
                border: 2px solid $blueBoxi;
                font-family: 'Nunito-Bold';
                font-size: 20px;
                background-color: $blueBoxi;
                color: #ffffff;
                padding: 12px 38px;
            }
        } // wrapper-center-add

        .wrapper-page-confirmation {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                position: relative;
                font-size: 24px;
                color: $colorText;
                font-family: 'Nunito-SemiBold';
                width: 415px;
                margin-bottom: 0;

                &::before {
                    content: '';
                    position: absolute;
                    width: 67px;
                    height: 67px;
                    top: -84px;
                    left: 36px;
                    background-image: url('../images/check.png');
                    background-size: 100%;
                }
            }

            p {
                font-size: 20px;
                color: $colorText;
                font-family: 'Raleway-Regular';
                width: 415px;
            }

            a {
                width: 170px;
                height: 55px;
                border-radius: 39px;
                border: 2px solid blue;
                font-family: 'Nunito-Bold';
                font-size: 20px;
                background-color: blue;
                color: #ffffff;
                padding: 12px 38px;
                margin-top: 20px;
            }
        } // wrapper-page-confirmation
    } // wrapper-part-right
} // wrapper-page-company