.wrapper-category {
    margin: 20px 0;
    background-color: lightgray;

    .wrapper-category-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 100px;

        h3 {
            padding-left: 15px;
            margin: 0;
        }

        .wrapper-category-description {
            display: none;
            padding: 15px;
            border-top: 1px solid #333333;
        } // wrapper-category-description
    } // wrapper-category-body

    .wrapper-category-footer {
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
        background-color: #000000;

        .wrapper-category-add-remove, .wrapper-category-see-more {
            a {
                color: #ffffff;
            } // a
        } // wrapper-category-add-remove /  wrapper-category-see-more

    } // wrapper-category-footer
} // wrapper-category