@import './variables';

.wrapper-composant-products {
    margin-top: 70px;

    .wrapper-products {
        margin-top: 80px;
    } // wrapper-products

    .wrapper-buttons-action {
        .btn-action {
            width: 183px;
            height: 55px;
            border-radius: 39px;
            border: 2px solid $blueBoxi;
            font-family: 'Nunito-Bold';
            font-size: 20px;
        } // btn-action

        .btn-primary {
            background-color: $blueBoxi;
            color: #ffffff;
            float: right;
        }

        .btn-secondary {
            background-color: transparent;
            color: $blueBoxi;
        }
    }
} // wrapper-composant-products
