@import './variables';

.wrapper-popin {
    .title-popin {
        font-size: 21px;
        color: $colorText;
        font-family: 'Raleway-SemiBold';
        line-height: 1;
    } // title-popin

    .description-popin {
        font-size: 21px;
        font-family: 'Raleway-Regular';
    } // description-popin

    p {
        font-size: 21px;
        font-family: 'Raleway-Regular';
        span {
            font-family: 'Raleway-Bold';
        }
    }

    .wrapper-btns {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        a {
            padding: 10px;
            text-align: center;
            font-family: 'Nunito-Bold';
            font-size: 20px;

            &.btn-action {
                width: 183px;
                height: 55px;
                border-radius: 39px;
                border: 2px solid $blueBoxi;
                font-family: 'Nunito-Bold';
                font-size: 20px;
            } // btn-action

            &.btn-primary {
                background-color: $blueBoxi;
                color: #ffffff;
                float: right;
            } // btn-rpimary
        } // a

        button {
            &.btn-action {
                width: 183px;
                height: 55px;
                border-radius: 39px;
                border: 2px solid $blueBoxi;
                font-family: 'Nunito-Bold';
                font-size: 20px;
            } // btn-action

            &.btn-back-to-products {
                width: 250px;
            } // btn-back-to-products
    
            &.btn-primary {
                background-color: $blueBoxi;
                color: #ffffff;
                float: right;
            }
    
            &.btn-secondary {
                background-color: transparent;
                color: $blueBoxi;
                margin-right: 54px;
            }
        }
    } // wrapper-btns
} // wrapper-popin